alabaster==0.7.11
argh==0.26.2
Babel==2.9.1
certifi==2018.4.16
chardet==3.0.4
click==6.7
docutils==0.14
idna==2.7
imagesize==1.0.0
Jinja2==2.10
livereload==2.5.2
Markdown==2.6.11
MarkupSafe==1.0
mkdocs==0.17.5
mkdocs-material==2.9.2
packaging==17.1
pathtools==0.1.2
pexpect==4.6.0
ptyprocess==0.6.0
Pygments==2.2.0
pymdown-extensions==4.11
pyparsing==2.2.0
pytz==2018.5
PyYAML==3.13
ruamel.yaml==0.15.75
requests==2.19.1
six==1.11.0
snowballstemmer==1.2.1
Sphinx==1.7.6
sphinx-rtd-theme==0.4.0
sphinxcontrib-websupport==1.1.0
tornado==4.5.3
urllib3==1.23
watchdog==0.8.3
